@tailwind base;
@tailwind components;
@tailwind utilities;

.isDarkMode{
  color: #f1f1f1;
  background-color: #1f1f1f;
}

.isLightMode{
  background-color: #f1f1f1;
  color: #1f1f1f;
}


*{
  scroll-behavior: smooth;
}

table {
    font-family: arial, sans-serif;
  }
  
  td, th {
    border: 1px solid #dddddd;
  }
  tr{
    transition: 0.5s all;
  }
  
  /* tr::before{
    counter-increment: counter-name;
    content: counter(counter-name) ' ';
    color: #000000;
    width: 10px;
    height: 10px;
    padding: 0.5em;
  } */

  tr:hover{
    opacity: 0.8;
    background-color: #000000; 
    color: #fff;

  }

  tr:focus{
    background-color: #000;
  }

  label{
    font-weight: bold;
    text-transform: capitalize;
  }

/* Scroll bar */
::-webkit-scrollbar {
  display: none;
  border-radius: 0.1em;
  /* width: 8px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
  border-radius: 1em;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff5a3d; 
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

a{
  transition: 0.5s all;
  cursor: pointer;
  padding: 0.8em;
  text-transform: uppercase;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1em;
  box-shadow: 5px 5px 5px #0000000e;
  font-weight: bold;
}

li:hover{
  background-color: red;
}

input[type=file]::file-selector-button {
  background-color: rgb(255, 255, 255);
  color: #000;
  outline: none;
  border: none;
  height: 100%;
  transition: 1s background-color,color;
  cursor: pointer;
}

input[type=file]::file-selector-button:hover {
  background-color: rgb(0, 0, 0); 
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

select{
  text-align: center;
  font-size: 9px;
  appearance: none;
}

.active{
  text-decoration: underline;
  background-color: #ff0000;
  color: #fff;
}

.report_vendor_card{
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1em;
}

.report_vendor_card > p{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding: 1em;
}

/* .request_upload{
  opacity: 0;
} */

.request_upload::before{
  content: "Click to choose file";
  width: 200px;
  height: 55px;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-5px,-14px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  color: #3d43ff;

}

.contextMenuContainer{
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;

}

.contextMenu{
  display: flex;
  color: #fff;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 1em;
  align-items: center;
  border-radius: 0.3em;
  cursor: pointer;
  text-transform: capitalize !important;
}


.vendorToolTip{
  background-color: #000;
  width: 20px;
  height: 20px;
  padding: 1em;
  color: white;
  font-size: 0.8em;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10px;
  left: -10px;
}

.long__text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* truncate to 4 lines */
  -webkit-line-clamp: 4;
}



.box{
  min-width: 350px;
  height: 500px;
  overflow: scroll;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.101);
  border-radius: 5px;
  padding: 20px;
  backdrop-filter: blur(25px);
}
.box .list{
  position: relative;
  display: flex;
  padding: 10px;
  background: rgb(139, 139, 139);
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

}

.box .list:hover{
  background: #fff;
  box-shadow: -7px 15px 25px rgba(0, 0, 0, 0.13);
  transform: scale(1.05) translateX(10px) translateY(-5px);
  z-index: 10000;
}
.list .imgbox{
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;


}
.list .imgbox img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.box .list .content .rank{
  position: absolute;
  right: -50px;
  color: #ff0156c9;
  transition: 0.5s;
  font-size: 2rem;
}
.box .list .content .rank small {
  font-weight: 400;
  opacity: 0.9;
}
.box .list:hover .content .rank {
  right: 20px;
}
.box .list .content h4{
  line-height: 1.2em;
  font-weight: 600;
  transition: 0.5s;

}
.box .list .content p{
  font-size: 0.75em;
  transition: 0.5s;
}
.box .list:hover .content h4,
.box .list:hover .content p{
  color: #333;

}

.supporting-text{
  font-size: 8px !important;
}

.wallpaper{
  background-color: #000000;
  width: 100%;
  height: 100%;
}


